* {
  margin: 0;
  padding: 0;
}
#root {
  width: 900px;
  margin: 20px auto;
}

.notes-head {
  display: flex;
}

.notes-title {
  font-weight: bold;
  font-size: xx-large;
  margin-right: 30px;
}

.notes-update {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(../image/update.png);
  cursor: pointer;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.note {
  position: relative;
  border: 1px solid black;
  width: 225px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.note-text {
  padding: 30px;
  margin-right: 20px;
}

.note-remove {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(../image/remove.png);
  background-color: white;
  cursor: pointer;
}

.new-note {
  position: relative;
}

.new-note-title {
  margin: 10px 0;
  font-size: initial;
}

.new-note-text {
  width: 400px;
  height: 120px;
  padding: 3px;
  resize: none;
}

.new-note-btn {
  position: absolute;
  top: 110px;
  right: 510px;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(../image/send.png);
  background-color: white;
  background-position: center;
  cursor: pointer;
}